# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Added by GUI #
################
*.netbeans_automatic_build
*.netbeans_update_resources
AccountsManager/build/classes/accountsManager/AccountMainFrame.form
RedmineParser/build/classes/redmineparser/RedmineParserFrame.form
SostratPMSInterface/build/classes/META-INF/jax-ws-catalog.xml
SostratPMSInterface/build/classes/META-INF/wsdl/10.132.247.92/Mars.Extension.ServiceMixWeb/ServiceMixEx.asmx.wsdl